.app {
  display: flex;
  font-family: sans-serif;
  text-align: center;
  flex-direction: column;
}

.confetti {
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  animation: confetti 5s ease-in-out -2s infinite;
  transform-origin: left top;
}
.confetti:nth-child(1) {
  background-color: #ff7400;
  left: 10%;
  animation-delay: -0.5s;
}
.confetti:nth-child(2) {
  background-color: #95c3de;
  left: 20%;
  animation-delay: -5s;
}
.confetti:nth-child(3) {
  background-color: #ff9a91;
  left: 30%;
  animation-delay: -3s;
}
.confetti:nth-child(4) {
  background-color: #f2d74e;
  left: 40%;
  animation-delay: -2.5s;
}
.confetti:nth-child(5) {
  background-color: #95c3de;
  left: 50%;
  animation-delay: -4s;
}
.confetti:nth-child(6) {
  background-color: #ff9a91;
  left: 60%;
  animation-delay: -6s;
}
.confetti:nth-child(7) {
  background-color: #77492c;
  left: 70%;
  animation-delay: -1.5s;
}
.confetti:nth-child(8) {
  background-color: #95c3de;
  left: 80%;
  animation-delay: -2s;
}
.confetti:nth-child(9) {
  background-color: #ff9a91;
  left: 90%;
  animation-delay: -3.5s;
}
.confetti:nth-child(10) {
  background-color: #f2d74e;
  left: 100%;
  animation-delay: -2.5s;
}
.confetti:nth-child(11) {
  background-color: #5fd468;
  left: 85%;
  animation-delay: -6.3s;
}
.confetti:nth-child(12) {
  background-color: #9d3568;
  left: 55%;
  animation-delay: -5.7s;
}
.confetti:nth-child(13) {
  background-color: #1b5a68;
  left: 25%;
  animation-delay: -1.8s;
}
.confetti:nth-child(14) {
  background-color: #8accda;
  left: 8%;
  animation-delay: -2.8s;
}
.confetti:nth-child(15) {
  background-color: #e35d24;
  left: 78%;
  animation-delay: -5s;
}
.confetti:nth-child(16) {
  background-color: #423afd;
  left: 55%;
  animation-delay: -3s;
}
.confetti:nth-child(17) {
  background-color: #be3ee8;
  left: 33%;
  animation-delay: -1.45s;
}
.confetti:nth-child(18) {
  background-color: #ffec05;
  left: 25%;
  animation-delay: -2.2s;
}
.confetti:nth-child(19) {
  background-color: #73dc2e;
  left: 65%;
  animation-delay: -3.1s;
}
.confetti:nth-child(20) {
  background-color: #fc5f5f;
  left: 49%;
  animation-delay: -2.78s;
}

@keyframes confetti {
  0% {
    transform: rotateZ(20deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

.fyi {
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
}

.timer {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.timer .number {
  z-index: 2;
  font-size: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  text-shadow: 10px 10px 30px #3d3838;
  animation: zoom-in-zoom-out 1s ease-out infinite;
}
